**/target
**/test/target/*
/.idea/
/test/afterImmutabilization/
/test/afterHeapify/
/test/genUnsupportedEO/
/test/afterEmptyProcStatement/
/test/afterMkUnsupported/
/test/afterParser/
/test/afterSimplifyIf/
/test/genCageEO/
/test/genHeapifiedEO/
/test/genImmutableEO/
/test/afterRemoveControlFlow/
/test/afterUseCage/