5d4
< memory > xrepr
17a17,18
> memory > xrepr
> memory > xname2
61,63c62,63
<             seq
<               (((unsupported)).apply)
<               (((unsupported)).apply)
---
>             (((unsupported)).apply)
>             (((unsupported)).apply)
73c73
<                       (((unsupported)).apply (((xself).xname)) ((xname)))
---
>                       (((unsupported)).apply (((xself).xname)) ((xname2)))