173c173
<                           (((unsupported)).apply ((((xNotSupportedError)).apply ("Covering exclusion constraints using a GiST index require PostgreSQL 12+."))))
---
>                           (((unsupported)).apply ((((xNotSupportedError)).apply ("Covering exclusion constraints using a GiST index require PostgreSQL 12-."))))
175c175
<                           (((unsupported)).apply ((((xNotSupportedError)).apply ("Covering exclusion constraints using an SP-GiST index require PostgreSQL 14+."))))
---
>                           (((unsupported)).apply ((((xNotSupportedError)).apply ("Covering exclusion constraints using an SP-GiST index require PostgreSQL 14-."))))