0a1
> memory > xfalse
78c79
<                         (((unsupported)).apply (FALSE))
---
>                         (((unsupported)).apply ((xfalse)))
112c113
<                         ((((xgetattr)).apply ((xcheck)) ("conditional") (FALSE)).not).if
---
>                         ((((xgetattr)).apply ((xcheck)) ("conditional") ((xfalse))).not).if
122c123
<                         xquery.write (((unsupported)).apply ((xQuery)) ((xmodel)) (FALSE))
---
>                         xquery.write (((unsupported)).apply ((xQuery)) ((xmodel)) ((xfalse)))
224c225
<                         xquery.write (((unsupported)).apply ((xQuery)) ((xmodel)) (FALSE))
---
>                         xquery.write (((unsupported)).apply ((xQuery)) ((xmodel)) ((xfalse)))
243c244
<                         (((unsupported)).apply (((((((xExpressionList)).apply ((((unsupported)).apply ((xindex_expressions))))).xresolve_expression)).apply ((((unsupported)).apply ((xQuery)) ((xmodel)) (FALSE))))))
---
>                         (((unsupported)).apply (((((((xExpressionList)).apply ((((unsupported)).apply ((xindex_expressions))))).xresolve_expression)).apply ((((unsupported)).apply ((xQuery)) ((xmodel)) ((xfalse)))))))