name: Java CI

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 14
        uses: actions/setup-java@v2
        with:
          java-version: '14'
          distribution: 'adopt'
      - name: Build with Maven
        run:  mvn clean compile -B -q

  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 14
        uses: actions/setup-java@v2
        with:
          java-version: '14'
          distribution: 'adopt'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8.10'
      - name: Build with Maven
        run:  mvn clean verify -B -q
      - name: archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: |
            transpiler/src/test/resources/org/polystat/py2eo/transpiler/results/*.eo
            scalastyle-output.xml
      - name: Rename jar
        run: cp transpiler/target/transpiler-*-jar-with-dependencies.jar transpiler.jar
      - name: archive jar
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: transpiler.jar

  polystatIntegration:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 14
        uses: actions/setup-java@v2
        with:
          java-version: '14'
          distribution: 'adopt'
      - uses: actions/setup-python@v2
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: package

      - name: download polystat
        run: wget https://repo.maven.apache.org/maven2/org/polystat/polystat/0.4.0/polystat-0.4.0-jar-with-dependencies.jar
      - name: translate python
        run: java -jar ./transpiler.jar ./transpiler/src/test/resources/org/polystat/py2eo/transpiler/integrationTests/test.py
      - name: analysis
        run: cp ./transpiler/src/test/resources/org/polystat/py2eo/transpiler/integrationTests/test.eo ./transpiler/src/test.eo && cp ./transpiler/src/test/resources/org/polystat/py2eo/transpiler/integrationTests/goto.eo ./transpiler/src/goto.eo && java -jar ./polystat-0.4.0-jar-with-dependencies.jar ./transpiler/src ./temp --sarif
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: polystatResults
          path: /Users/runner/work/py2eo/py2eo/temp
      - name: failure artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: py2eo output
          path: ./transpiler/src/test.eo


  runEO:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - uses: actions/setup-python@v2
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: ./
      - name: Build with Maven
        run: cp -a transpiler/src/test/resources/org/polystat/py2eo/transpiler/runEO . && cp transpiler/src/test/resources/org/polystat/py2eo/transpiler/results/*.eo ./runEO && cp -a transpiler/src/main/eo/preface ./runEO && cp -a transpiler/src/main/eo/xmodules ./runEO && mv ./runEO/own_module.eo ./runEO/xmodules/xown_module.eo && cd ./runEO && mvn clean test
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: generatedJava
          path: /Users/runner/work/py2eo/py2eo/python/python3/test/target/generated-sources/
