name: Java CI

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 14
        uses: actions/setup-java@v2
        with:
          java-version: '14'
          distribution: 'adopt'
      - name: Build with Maven
        run:  mvn clean compile -B

  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    needs: build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8.10'
      - name: Build with Maven
        run: |
          wget https://download.java.net/java/GA/jdk17.0.2/dfd4a8d0985749f896bed50d7138ee7f/8/GPL/openjdk-17.0.2_linux-x64_bin.tar.gz &&
          wget https://dlcdn.apache.org/maven/maven-3/3.8.4/binaries/apache-maven-3.8.4-bin.tar.gz &&
          tar x -z < apache-maven-3.8.4-bin.tar.gz &&
          tar x -z < openjdk-17.0.2_linux-x64_bin.tar.gz &&
          PATH="$PWD/jdk-17.0.2/bin/:$PWD/apache-maven-3.8.4/bin/:$PATH" &&
          export JAVA_HOME="$PWD/jdk-17.0.2/" &&
          mvn clean package -B
      - name: archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: artifacts
          path: |
            src/test/resources/org/polystat/py2eo/genCageEO/*.eo
            src/test/resources/org/polystat/py2eo/simple_tests/assignCheck/genCageEO/*.eo
            src/test/resources/org/polystat/py2eo/simple_tests/ifCheck/genCageEO/*.eo
            src/test/resources/org/polystat/py2eo/simple_tests/whileCheck/genCageEO/*.eo
            scalastyle-output.xml
      - name: archive jar
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: target/py2eo-0.0.1-SNAPSHOT-jar-with-dependencies.jar          

  polystatIntegration:
    strategy:
        matrix:
            os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - uses: actions/setup-python@v2
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: package

      - name: download polystat 
        run: wget https://repo.maven.apache.org/maven2/org/polystat/polystat/0.4.0/polystat-0.4.0-jar-with-dependencies.jar
      - name: translate python
        run: java -jar ./py2eo-0.0.1-SNAPSHOT-jar-with-dependencies.jar ./src/test/resources/org/polystat/py2eo/integrationTests/test.py
      - name: analysis
        run: cp ./src/test/resources/org/polystat/py2eo/integrationTests/genCageEO/test.eo ./src/test.eo && cp ./src/test/resources/org/polystat/py2eo/integrationTests/goto.eo ./src/goto.eo && java -jar ./polystat-0.4.0-jar-with-dependencies.jar ./src ./temp --sarif
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: polystatResults
          path: /Users/runner/work/py2eo/py2eo/temp
      - name: failure artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
            name: py2eo output
            path: ./src/test.eo


  runEO:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    needs: test
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - uses: actions/setup-python@v2
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: artifacts
          path: ./
      - name: Build with Maven
        run: cd ./runEO && mvn clean test
      - name: upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: generatedJava
          path: /Users/runner/work/py2eo/py2eo/python/python3/test/target/generated-sources/
